{
  "ignorePatterns": ["api/**", "app/**", "packages/**"],
  "extends": ["@thoughts/eslint-config/library.js"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true
  }
}
